
<div class="tab-container">
  <div class="tab">
    <label for="" class="test" #computer (click)="toggleTab('computerShow')">Computer</label>
    <div class="tab-des-list" [appNgShow]="tabObj.computerShow">
      <p><a href="" routerLink="computer"><i class="iconfont icon-category"></i>javascript</a></p>
      <p><a href="" routerLink="english"><i class="iconfont icon-category"></i>html</a></p>
      <p><a href=""><i class="iconfont icon-category"></i>css</a></p>
      <p><a href=""><i class="iconfont icon-category"></i>typescript</a></p>
      <p><a href=""><i class="iconfont icon-category"></i>nodejs</a></p>
      <p><a href=""><i class="iconfont icon-category"></i>rxjs</a></p>
      <p><a href=""><i class="iconfont icon-category"></i>webpack</a></p>
    </div>
  </div>
  <div class="tab">
    <label for="" #englist  (click)="toggleTab('englistShow')">English</label>
    <div class="tab-des-list"  [appNgShow]="tabObj.englistShow">
      <p><a href=""><i class="iconfont icon-category"></i>单词</a></p>
      <p><a href=""><i class="iconfont icon-category"></i>口语</a></p>
      <p><a href=""><i class="iconfont icon-category"></i>写作</a></p>
    </div>
  </div>
</div>
